<a href="https://colab.research.google.com/github/p-1417/python2/blob/master/DAY_6(04_12_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Accept a number and check whether the given number is is divisble by 3 or not or whether it is divisible by 5 or not 
x = int(input("enter the  number"))
if (x%3==0) and (x%5==0) :
   print('divisible by 3 and 5')
else:
   print('not divisible by 5 and 3')

enter the  number 18
not divisible by 5 and 3

In [0]:
# Accept a number and check the given number is positive, negative or zero
n = int(input("enter the number"))
if n<0:
   print('the number is negative')
elif n==0:
   print('the no. is zero')
else :
  print('the no. is positive')

enter the number -24
the number is negative

In [0]:
# accept age of a person and check the person is eligible for a vote or not
x = int(input("the age of a person"))
if x>=18:
   print('the person is eligible for vote')
else:
   print('the person is not eligible for vote')

the age of a person 15
the person is not eligible for vote

In [0]:
# accept 3 subjects marks for the student if the student minimum 30 marks in all the subjects then findout the average else print fail on the screen
 1.If average is>75 print A grade
 2.If average is>65-75 print B grade
 3.If average is>45-65 print C grade
 4.If average is>30-45 print D grade
 5.If average is<30 print FAIL

## LOOPS


1.  WHILE LOOP
 syntax:

  statement

   while condition:

   print
2.   FOR LOOP
syntax:

 for variable name **in** range(1,n+1):

  print(variable name)

In [0]:
#PRINT NUMBERS FROM 1 TO N
n = int(input("enter the number"))
i=1
while i <= n:
   print(i, end=" ")
   i= i + 1

enter the number 10
1 2 3 4 5 6 7 8 9 10

In [0]:
#PRINT ONLY EVEN NUMBERS FROM 1 TO N
i = int(input("enter the number"))
i=1
while i<=n:
 if i%2==0:
    print(i,end=" ")
 i = i+1

enter the number 10
2 4 6 8 10

In [0]:
# print sum of even numbers from 1 to N
i = int(input("enter the number"))
i = 1
sum = 0
while i <= n:
 if i%2 == 0:
   sum+=i
 i = i + 1
print(sum)

enter the number 10
30

In [0]:
#extracting the digits from given number 
n = int(input("enter the number"))
while n!=0:
  print(n%10 ,end=" ")
  n = n//10

enter the number 231
1 3 2

In [0]:
#whether the given no. is armstrong or not

In [0]:
#check whether the no. is palindrome or not
n = int(input("enter the number"))
rev = 0
temp = n
while n!=0:
  r=n%10
  rev=rev*10+r
  n=n//10
if rev==temp:
  print("palindrome")
else:
   print(" not palindrome")

enter the number 121
palindrome

In [0]:
# print numbers from 1 to n using for loop
n = int(input("enter the number"))
for i in range(1,n+1):
 print(i)

enter the number 10
1
2
3
4
5
6
7
8
9
10

In [0]:
n = int(input("enter the number"))
for i in range(1,n+1,2):
 print(i)

enter the number 10
1
3
5
7
9

In [0]:
n = int(input("enter the number"))
for i in range(0,n+1,2):
 print(i)

enter the number10
0
2
4
6
8
10

In [0]:
n = int(input("enter the number"))
sum = 0
for i in range(1,n+1):
  sum = sum + i
print(sum)

enter the number20
210

In [0]:
#string using while loop
n = input("enter any string")
length = len(n)
i=0
while i<length:
  print(n[i])
  i=i+1

enter any string lambu

l
a
m
b
u

In [0]:
#string using for loop
n = input("enter your name")
for i in n:
  print(i)

enter your name ghost

g
h
o
s
t

##FUNCTIONS


1.   For creating function use def as keyword
2.   syntax;

  def name(argument):

  return

In [0]:
def add(x,y):
 return x+y
add(10,20)

30

In [3]:
#print sum of even digits from 1to n
def add(i,n):
 return i%2==0
add(1,10)

False