<a href="https://colab.research.google.com/github/p-1417/python2/blob/master/day_5(03_12_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming
## Python programming
### python programming
#### python programming
##### python programming
###### python programming



1.  Python basic
2.  Python advance
3.  Python program

![image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu8nvwEllPp_1q845PAggAx4WAgvOePM-WMnsOfDLk_QNc44oY&s)

[click here](https://www.google.com/)

In [0]:
print("hello life!")

hello life!

In [0]:
x = 15
y = 30
print(x + y)
print(x - y)

45
-15

In [0]:
x = int(input("enter the x value"))
y = int(input("enter the y value"))
x + y

enter the x value 10
enter the y value 20

30

In [0]:
x = input("enter your name") 
y = int(input("enter you age"))

enter your name PRIYANKA SWAIN
enter you age 19

In [0]:
x = input("my name is") 
y = int(input("your age is"))
print("my name is", x , "and my age is",y)

my name is priyanka swain
your age is 190
my name is  priyanka swain and my age is 190

In [0]:
print("my name is",x,"and my age is",y)

SyntaxError: ignored

In [0]:
print("my name is",x+,"and my age is",y)

SyntaxError: ignored

In [0]:
print("my name is", x ,"and my age is", y)

my name is  priyanka swain and my age is 19

In [0]:
print("my name is ", x ,end='  ')
print(" my age is ", y)

my name is   priyanka swain   my age is  190

### FUNDAMENTAL DATATYPES

1.  integer(INT)--> allthenumbers without decimal point
2.   FLOAT--> numbers with decimal points
3.   COMPLEX--> including a real and imaginary terms
4.   BOOLEAN--> TRUE OR FALSE
5.   STRING(STR)
6.

In [0]:
}a = 3
b = 2.67
c = 5+6j
d = 3+5j
print(type(a), type(b) , type(c))

<class 'int'> <class 'float'> <class 'complex'>

# ***FUNDAMENTALS OF PYTHON***

1. PYTHON IS RUN BY INTERPRETER
2.  PYTHON IS COMPLETELY INTERPRETED PROGRAM
3. IT IS OBJECT ORIENTED PROGRAM 
4. len used to return the number of items in a container
5.

In [0]:
str1 = "Gitam"
str2 ="University"
str1 + str2

'GitamUniversity'

In [0]:
len(str1)

5

In [0]:
a = 123456789
print(len(str(a)))

9

In [0]:
result = 10<20
print(result,type(result))

True <class 'bool'>

## OPERATORS


1.  SYMBOLS USED TO PERFORM DIFFERENT FUNCTIONS
2.   THE TERMS OR VARIABLES ON WHICH OPERATION IS PERFORMED ARE KNOWN AS *OPERANDS*
### TYPES OF OPERATORS


1.   arithmetic operators(+,-,*,/,**,//)
2.   logical operators  (and,or,not)
3.   relational operators (==,!=,<,>,<=,=> ).=for assing,==for compairing
4.   membership operatos (for checking the availabilty of char)
5.   conditional statements(else,if,elif)

In [0]:
a = 12
b = 23
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

35
-11
276
0.5217391304347826
12
6624737266949237011120128
0

In [0]:
#logical operators
 i = 10
 j = 20
 print(i>1 and i<20)
 print(i>12 or i<33)
 print(not i)

True
True
False

In [0]:
# Relational operators
print(i==j)
print(i!=j)
print(i>j)
print(i<j)
print(i>=j)

False
True
False
True
False

In [0]:
#MEMBERSHIP OPERATOR
str1='gitam'
print('z'in str1)
print('z'not in str1)

False
True

# SYNTAX

if condition:

   statement

   else
   
     statement

In [0]:
#to check the given no. is even or odd
n = int(input("enter any no."))
if n%2==0:
     print("even")
else:
   print("odd")

enter any no. 13
odd